.header {
  max-width: 60rem;
  margin: auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  gap: 1rem;
  text-decoration: underline;
  list-style: none;
}

.list a {
  text-decoration: none;
}

h1 {
  text-align: center;
}

table > th {
  text-align: center;
}